interactions:
- request:
    body: '{"kind": "AIServices", "sku": {"name": "S0"}, "identity": {"type": "SystemAssigned"},
      "location": "eastus", "properties": {"customSubDomainName": "csclitest000005",
      "allowProjectManagement": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002","name":"cog000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"0a008d04-0000-0100-0000-689cf6d90000\"","location":"eastus","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://csclitest000005.cognitiveservices.azure.com/","internalId":"39b412791d13453b86701c28a8fe75d9","dateCreated":"2025-08-13T20:34:30.3139926Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"*"}]},{"key":"textTranslation","renewalPeriod":1,"count":100,"matchPatterns":[{"path":"translator/text/*","method":"*"}]},{"key":"singledocumentTranslation.default","renewalPeriod":1,"count":20,"ma[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/fd276601-0fa3-4163-bc5d-f6c24d7d03c8?api-version=2017-04-18&t=638907140740342918&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE4MTIwNDI4WhcNMjYwMTE0MTIwNDI4W[...]
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "eastus", "properties":
      {"displayName": "CLI Test Project"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/projects/prj000003?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/projects/prj000003","name":"cog000002/prj000003","type":"Microsoft.CognitiveServices/accounts/projects","etag":"\"2c0014ff-0000-0100-0000-689cf71a0000\"","location":"eastus","kind":"AIServices","properties":{"endpoints":{"AI
        Foundry API":"https://csclitest000005.services.ai.azure.com/api/projects/prj000003"},"displayName":"CLI
        Test Project","isDefault":true,"internalId":"118afcac3d5340879c45a51f3bd8442e","provisioningState":"Succeeded"},"identity":{"principalId":"1a7347ee-ea4a-4e39-8a99-dd241912436e","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-08-13T20:35:31.9197051Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-08-13T20:35:31.9197051Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2c0014ff-0000-0100-0000-689cf71a0000"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"authType": "ManagedIdentity", "category": "ContainerRegistry",
      "target": "https://test-feed.com", "credentials": {"clientId": "client_id",
      "resourceId": "resource_id"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/projects/prj000003/connections/conn000004?api-version=2025-06-01
  response:
    body:
      string: '{"tags":null,"location":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/projects/prj000003/connections/conn000004","name":"conn000004","type":"Microsoft.CognitiveServices/accounts/projects/connections","properties":{"authType":"ManagedIdentity","credentials":null,"group":"Azure","category":"ContainerRegistry","expiryTime":null,"target":"https://test-feed.com","useWorkspaceManagedIdentity":false,"isSharedToAll":false,"sharedUserList":[],"peRequirement":"NotRequired","peStatus":"NotApplicable","error":null,"isDefault":true,"metadata":{}},"systemData":{"createdAt":"2025-08-13T20:35:42.4715575Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-13T20:35:42.4715575Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"}}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.996'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/projects/prj000003/connections?api-version=2025-06-01&includeAll=false
  response:
    body:
      string: '{"value":[{"tags":null,"location":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/projects/prj000003/connections/conn000004","name":"conn000004","type":"Microsoft.CognitiveServices/accounts/projects/connections","properties":{"authType":"ManagedIdentity","credentials":null,"group":"Azure","category":"ContainerRegistry","expiryTime":null,"target":"https://test-feed.com","useWorkspaceManagedIdentity":false,"isSharedToAll":false,"sharedUserList":[],"peRequirement":"NotRequired","peStatus":"NotApplicable","error":null,"isDefault":true,"metadata":{}},"systemData":{"createdAt":"2025-08-13T20:35:42.4715575Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-13T20:35:42.4715575Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"}}]}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.087'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/projects/prj000003?api-version=2025-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '800'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '12000'
    status:
      code: 200
      message: OK
version: 1
