interactions:
- request:
    body: '{"kind": "AIServices", "sku": {"name": "S0"}, "identity": {"type": "SystemAssigned"},
      "location": "eastus", "properties": {"allowProjectManagement": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002","name":"cog000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"3800eca4-0000-0100-0000-68a372820000\"","location":"eastus","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://eastus.api.cognitive.microsoft.com/","internalId":"cfc8a853d8734a80928793fddb6c38d1","dateCreated":"2025-08-18T18:35:45.8601145Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"*"}]},{"key":"textTranslation","renewalPeriod":1,"count":100,"matchPatterns":[{"path":"translator/text/*","method":"*"}]},{"key":"singledocumentTranslation.default","renewalPeriod":1,"count":20,"ma[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/0d8a96a4-23d9-409c-b6db-ed81e3c3d99a?api-version=2017-04-18&t=638911389464433126&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE4MTIwNDI4WhcNMjYwMTE0MTIwNDI4W[...]
[...]
- request:
    body: '{"properties": {"authType": "ManagedIdentity", "category": "ContainerRegistry",
      "metadata": {}, "target": "https://test-feed.com", "credentials": {"clientId":
      "client_id", "resourceId": "resource_id"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/connections/conn000003?api-version=2025-06-01
  response:
    body:
      string: '{"tags":null,"location":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/connections/conn000003","name":"conn000003","type":"Microsoft.CognitiveServices/accounts/connections","properties":{"authType":"ManagedIdentity","credentials":null,"group":"Azure","category":"ContainerRegistry","expiryTime":null,"target":"https://test-feed.com","useWorkspaceManagedIdentity":false,"isSharedToAll":true,"sharedUserList":[],"peRequirement":"NotRequired","peStatus":"NotApplicable","error":null,"isDefault":true,"metadata":{}},"systemData":{"createdAt":"2025-08-18T18:36:52.893185Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-18T18:36:52.893185Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"}}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.883'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/connections?api-version=2025-06-01&includeAll=false
  response:
    body:
      string: '{"value":[{"tags":null,"location":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/connections/conn000003","name":"conn000003","type":"Microsoft.CognitiveServices/accounts/connections","properties":{"authType":"ManagedIdentity","credentials":null,"group":"Azure","category":"ContainerRegistry","expiryTime":null,"target":"https://test-feed.com","useWorkspaceManagedIdentity":false,"isSharedToAll":true,"sharedUserList":[],"peRequirement":"NotRequired","peStatus":"NotApplicable","error":null,"isDefault":true,"metadata":{}},"systemData":{"createdAt":"2025-08-18T18:36:52.893185Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-18T18:36:52.893185Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"}}]}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.063'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2025-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
